h1{
    text-shadow: 3px 3px 5px hsl(0, 89%, 48%), -3px -3px 5px hsla(189, 62%, 40%, 0.938)
}
#box1{
    width: 100px;
    height: 100px;
    background-color: hsla(208, 23%, 87%, 0.918);
    box-shadow: 3px 3px 5px;
}