.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: hsl(241, 89%, 46%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(210, 9%, 86%);
    min-width: 100px;
    box-shadow: 2px 2px 5px; color: black;
}
.dropdown:hover .content{
    display: block;
    
}
.dropdown:hover button{
    background-color: aliceblue;
}
.dropdown a:hover{
    background-color: rgb(216, 210, 201);
}
    
    
