.icons{
    text-align: center;
}
.icons a{
    text-decoration: none;
    margin-left: 20px;
}
.fa-solid.fa-house.fa-5x{
    color: gray;
}
.fa-solid.fa-house.fa-5x:hover{
    color: hsl(0, 12%, 76%);
}
.fa-brands.fa-twitter.fa-5x{
    color: blue;
}
.fa-brands.fa-twitter.fa-5x:hover{
    color: hsl(240, 82%, 69%);
}
.fa-brands.fa-youtube.fa-5x{
    color: red;
}
.fa-brands.fa-youtube.fa-5x:hover{
    color: hsl(0, 74%, 66%);
}
.fa-brands.fa-tiktok.fa-5x{
    color: black;
}
.fa-brands.fa-tiktok.fa-5x:hover{
    color: hsl(0, 2%, 27%);
}